.note {
  input {
    margin-bottom: 16px;
  }

  details {
    max-height: 400px;
    overflow: auto;
  }

  p {
    white-space: pre-line;
  }

  &__text {
    margin-top: 8px;
  }

  &__time {
    color: #ffed88;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
