{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "import",
    "react-hooks"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "import/prefer-default-export": 0,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".tsx"] }],
    "@typescript-eslint/no-unused-vars": [2],
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": [2],
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "prettier/prettier": [2, {
      "trailingComma": "all",
      "singleQuote": true,
      "printWidth": 120
    }],
    "max-len": [
      2,
      {
        "code": 120,
        "tabWidth": 2,
        "comments": 120,
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "import/order": [
      2,
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          [
            "parent",
            "sibling"
          ],
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "padding-line-between-statements": [
      2,
      {
        "blankLine": "always",
        "prev": "*",
        "next": [
          "if",
          "return"
        ]
      },
      {
        "blankLine": "always",
        "prev": "block-like",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let"
        ],
        "next": [
          "const",
          "let"
        ]
      }
    ]
  }
}
