.input {
  width: 256px;
  height: 24px;
}

.container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.casts-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

header {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fight-info {
  display: flex;
  gap: 8px;
}

.ability-icon {
  box-shadow: 0 0 3px #000;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer {
  border-top: 1px solid #fff;
  padding: 12px;
  text-align: center;
  font-size: 12px;
}

.main-block {
  display: flex;
  gap: 16px;
}

body {
  font-family: Avenir, Arial, sans-serif;
  background: #000;
  color: #fff;
}

a {
  color: #46c5ff;
}
